$color-primary-text: #323232;
$color-secondary-text: #8c8c8c;
$color-top-nav: #0f0101;
$color-for-header: #515151;
$color-text: #555252;
$color-brand: #1abc9c;
$color-hover: #4ec6ab;
$color-hover-price: #7fd9c7;
$color-gallery-text: #ffffff;
$color-section: #e9f0fd;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
$animation-time: 250ms;
